In [1]:
import pandas as pd
import numpy as np

mismatches = pd.read_csv('PyFstat_example_data/PyFstatExampleSimpleMCMCvsGridComparisonSemi/mismatches.csv')
mismatches

     Empirical Mismatch (μ)
0                  0.085470
1                  0.065956
2                  0.186170
3                  0.176828
4                  0.104338
..                      ...
495                0.203392
496                0.195227
497                0.199366
498                0.257042
499                0.169425

[500 rows x 1 columns]

In [4]:
mismatches['Empirical Mismatch (μ)'].max()

np.float64(0.2974943720249232)

In [5]:
mismatches['Empirical Mismatch (μ)'].mean()

np.float64(0.15207031083334374)